* {
    --DEFAULT-PADDING: 20px;
    --DEFAULT-BORDER: 2px solid #444444;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS';
}

body {
    background-color: #111111;
    padding: var(--DEFAULT-PADDING);
}

h2 {
    text-align: center;
    color: white;
}

canvas {
    border: var(--DEFAULT-BORDER);
    border-radius: var(--DEFAULT-PADDING);
    background-color: black;
    width: 100%;
    margin-bottom: var(--DEFAULT-PADDING);
    margin-top: var(--DEFAULT-PADDING);
}

input {
    --padding: 10px;
    padding: var(--padding);
    width: calc(100% - 2*var(--padding));
}

form {
    text-align: center;
    width: calc(100% - 2*var(--DEFAULT-PADDING));
    background-color: black;
    border: var(--DEFAULT-BORDER);
    border-radius: var(--DEFAULT-PADDING);
    padding: var(--DEFAULT-PADDING);
}

p {
    color: white;
}
